.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
}

.logo {
    width: 150px;
}
.nav-items {
    margin: 0 20px;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

.nav-items ul li {
    padding: 10px;
    margin: 10px;
}

.restaurant-container {
    display: flex;
    gap: 20px;
}

.restaurant-card {
    border: 1px solid #000000;
    width: auto;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.restaurant-card:hover {
    transform: scale(1.05);
}

.restaurant-card-image {
    width: 200px;
}

.search {
    margin: 10px 0;
}